{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% block Título %}Página Inicial{% endblock %}

{% block Conteúdo %}
    <main class="conteudo-index">
        <div class="publicacoes">
            <div class="secao-bloco">
                <h3>Publicações Recentes</h3>
            </div>

            {% for post in posts %}
            <div class="pub-card">
                <div class="pub-img">
                    <a href="{% url 'publicacao' post.slug %}"><img src="{{ post.foto.url }}"></a>
                </div>

                <div class="pub-texto">
                    <h1><a href="{% url 'publicacao' post.slug %}" class="pub-link">{{ post.titulo }}</a></h1>
                    <p>{{ post.subtitulo }}</p>
                </div>

                <div class="pub-info">
                    <span>{{ post.data|naturalday|capfirst }}</span>
                    <span id="visualizacoes"><i class="fa fa-eye" aria-hidden="true"></i> {{ post.acessos }}</span><br/>
                    <span>{{ post.categoria }}</span><br/>
                </div>

                <div class="pub-botao"><a href="{% url 'publicacao' post.slug %}">Ler mais</a></div>
            </div>
            {% endfor %}
        </div>

        <div class="popular">
            <div class="secao-bloco">
                <h3>Popular no Correio</h3>
            </div>

            <div class="populares-wrapper">
                {% for popular in populares %}
                    <div class="popular-card">
                        <div class="popular-img">
                            <a href="{% url 'publicacao' popular.slug %}"><img src="{{ popular.foto.url }}"></a>
                        </div>

                        <div class="popular-titulo">
                            <h1><a href="{% url 'publicacao' popular.slug %}" class="popular-link">{{ popular.titulo }}</a></h1>
                        </div>

                        <div class="popular-botao"><a href="{% url 'publicacao' popular.slug %}">Ler mais</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}