{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% block Título %}Página Inicial{% endblock %}

{% block Custom-Container %}container-index{% endblock %}

{% block Conteúdo %}
    <div class="wrapper-carrossel" id="wrapper-carrossel">
        <div class="carrossel" id="carrossel">
            <div class="item ativo" style="background-image: url({% static '/img/carrossel/carrossel-1.jpg' %});">
                <div class="container">
                    <div class="texto">
                        <h1>Vestibulinho Etec 2020</h1>
                        <p>Entenda a alteração vestibulinho devido a pandemia</p>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url({% static '/img/carrossel/carrossel-2.webp' %});">
                <div class="container">
                    <div class="texto">
                        <h1>Programação pós-pandemia</h1>
                        <p>Confira o esquema de ações pós-pandemia neste artigo único</p>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url({% static '/img/carrossel/carrossel-3.jpg' %});">
                <div class="container">
                    <div class="texto">
                        <h1>Atividades online</h1>
                        <p>Veja o que tem a dizer o diretor da escola a respeito das recentes atividades online</p>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url({% static '/img/carrossel/carrossel-4.jpg' %});">
                <div class="container">
                    <div class="texto">
                        <h1>Correio Philadelpho e Biblioteca</h1>
                        <p>Um projeto para todos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="controles">
            <div class="anterior" id="carrossel-anterior"><i class="fas fa-caret-left fa-2x"></i></div>
            <div class="proximo" id="carrossel-proximo"><i class="fas fa-caret-right fa-2x"></i></div>
        </div>

        <div class="pontos-indicadores" id="pontos-indicadores"></div>
    </div>

    <main class="conteudo-index">
        <div class="publicacoes">
            <div class="secao-bloco">
                <h3>Publicações Recentes</h3>
            </div>

            {% for post in posts %}
            <div class="pub-card">
                <div class="pub-img">
                    <a href="{% url 'publicacao' post.slug %}"><img src="{{ post.foto.url }}"></a>
                </div>

                <div class="pub-texto">
                    <h1><a href="{% url 'publicacao' post.slug %}" class="pub-link">{{ post.titulo }}</a></h1>
                    <p>{{ post.subtitulo }}</p>
                </div>

                <div class="pub-info">
                    <span>{{ post.data|naturalday|capfirst }}</span>
                    <span id="visualizacoes"><i class="fa fa-eye" aria-hidden="true"></i> {{ post.acessos }}</span><br/>
                    <span>{{ post.categoria }}</span><br/>
                </div>

                <div class="pub-botao"><a href="{% url 'publicacao' post.slug %}">Ler mais</a></div>
            </div>
            {% endfor %}
        </div>

        <div class="popular">
            <div class="secao-bloco">
                <h3>Popular no Correio</h3>
            </div>

            <div class="populares-wrapper">
                {% for popular in populares %}
                    <div class="popular-card">
                        <div class="popular-img">
                            <a href="{% url 'publicacao' popular.slug %}"><img src="{{ popular.foto.url }}"></a>
                        </div>

                        <div class="popular-titulo">
                            <h1><a href="{% url 'publicacao' popular.slug %}" class="popular-link">{{ popular.titulo }}</a></h1>
                        </div>

                        <div class="popular-botao"><a href="{% url 'publicacao' popular.slug %}">Ler mais</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script type="text/javascript" src="{% static '/js/parciais/carrossel.js' %}"></script>
{% endblock %}