{% extends 'base.html' %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block Título %}{{ post.titulo}}{% endblock %}

{% block Conteúdo %}
    <div class="barra-de-progresso" id="barra-de-progresso"></div>

    <main class="conteudo-pub" id="main">
        <div class="pub-hero" style="background-image: url({{ post.foto.url }});">
            <h1>{{ post.titulo }}</h1>
            <p>{{ post.subtitulo }}</p>
        </div>

        <div class="pub-post" id="conteudo-pub">
            <div class="conteudo-wrapper">
                <div class="conteudo">
                    {{ post.conteudo|safe }}
                </div>
            </div>

                <div class="divisao"></div>
                
                <p class="quantidade-comentarios">{{ comentarios.count }} Comentários</p>

                <div class="comentarios-container">
                    {% if request.user.is_authenticated %}
                    <form method="POST" action="" id="form-comentario" class="formulario-comentar" onsubmit="enviarComentario(event, {{ post.id}})">
                        {% csrf_token %}

                        {{ form_comentario.conteudo }}

                        <button type="submit" class="botao-comentar">Comentar</button>
                    </form>
                    {% else %}
                    <div class="entre-ou-cadastrese">
                        <p><a class="pub-link-comentario" href="{% url 'entrar' %}?proximo={{ request.path }}">Entre</a> ou <a class="pub-link-comentario" href="{% url 'registrar' %}?proximo={{ request.path }}">cadastre-se</a> para comentar.</p>
                    </div>
                    {% endif %}

                    {% if comentarios %}
                        <ul class="comentarios">
                        {% recursetree comentarios %}
                            <li>
                                <div class="usuario">{{ node.usuario.nome}} {{ node.usuario.sobrenome }}</div>
                                <div class="data">{{ node.data|naturalday }}</div>

                                <div class="comentario">
                                    {{ node.conteudo }}
                                </div>

                                {% if request.user.is_authenticated %}
                                <button class="botao-resposta" id="responder-{{ node.id }}" onclick="abrirFormulario({{ node.id }})">Responder</button>
                                {% endif %}
                            {% if not node.is_leaf_node %}
                            <button class="ver-resp" id="mostrar-{{ node.id }}" onclick="abrir('respostas-de-{{ node.id }}')">Ver respostas</button>

                            <ul class="respostas" id="respostas-de-{{ node.id }}">
                                <li>{{ children }}</li>
                            </ul>
                            {% endif %}
                            </li>   
                        {% endrecursetree %}
                        </ul>
                    {% else %}
                    <div id="sem-comentarios">
                        <p>Ninguém comentou ainda</p>
                        <p>Seja o primeiro a comentar alguma coisa!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script>
        var URL_ENVIAR_COMENTARIO = "{% url 'comentario' %}";
        var USUARIO_ATUAL = {{ request.user.id }};
    </script>

    <script type="text/javascript" src="{% static '/js/parciais/barra-de-leitura.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/parciais/comentarios.js' %}"></script>
{% endblock %}