{% extends 'base.html' %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block Título %}{{ post.titulo}}{% endblock %}

{% block Conteúdo %}
    <div class="barra-de-progresso" id="barra-de-progresso"></div>

    <main class="conteudo-pub" id="conteudo-pub">
        <div class="pub-hero" style="background-image: url({{ post.foto.url }});">
            <h1>{{ post.titulo }}</h1>
            <p>{{ post.subtitulo }}</p>
        </div>

        <div class="pub-post">
            <div class="conteudo">
                {{ post.conteudo|safe }}


                <div class="divisao"></div>

                <div class="comentarios-container">
                    {{ form_comentario.conteudo }}

                    {% if comentarios %}
                        {% recursetree comentarios %}
                            {{ node.conteudo }}

                            {% if not node.is_leaf_node %}
                                {{ children }}
                            {% endif %}
                        {% endrecursetree %}
                    {% else %}
                        <p>Ninguém comentou ainda</p>
                        <p>Seja o primeiro a comentar alguma coisa!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script type="text/javascript" src="{% static '/js/parciais/barra-de-leitura.js' %}"></script>
{% endblock %}