html, body{
    width: 100%;
}

#header{
    background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);

    #user-tools{
        a{
            color: rgba(255, 255, 255, 0.6) !important; 
            transition: 0.3s ease;
            &:hover{
                color: white;
            }
        }
    }
}

.content img{
    height: 15px;
    width: 15px;
}

#changelist-search img{
    height: 0px;
    width: 0px;
}

.module h2, .module caption, .inline-group h2{
    background-color: #8d0c0e 
}