html, body{
    width: 100%;
}

#header{
    background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);

    #user-tools{
        a{
            color: rgba(255, 255, 255, 0.6) !important; 

            transition: 0.3s ease;

            &:hover{
                color: white;
            }
        }
    }
}

caption a{
    color: white !important;
}

.breadcrumbs {
    background: #8d0c0e !important;
    color: white !important;
    a{
        color: rgba(255, 255, 255, 0.6) !important; 
        transition: 0.3s ease !important;

        &:hover{
            color: white !important;
        }
    }
}

.submit-row input{
    background: linear-gradient(135deg, #a90e10, #ec181a) !important;
    @include rfs(0.313rem, border-radius);
}

.content{
    img{
        height: 15px;
        width: 15px;
    }
}

tbody a{
    color: #8d0c0e !important;
    transition: 0.3s ease;
}   

.sticky tr:hover, .current-model:hover{
    background: rgb(230, 230, 230) !important;
    transition: 0.3s ease;
}

#changelist-search img{
    height: 0px;
    width: 0px;
}

.module h2, .module caption, .inline-group h2{
    background-color: #8d0c0e 
}