{% extends 'base.html' %}
{% load static %}

{% block Título%}Equipe{% endblock %}
{% block Conteúdo %}
    <div class="wrapper-equipe">
        <div class="container-equipe">
            <div class="membro">
                <h3 class="nome">Bruno Momesso Breseghello</h3>
                <p class="cargo">Responsável pelo banco de dados e por parte da documentação</p>
                <p class="contato"><i class="fas fa-envelope"></i> bruno.breseghello@etec.sp.gov.br</p>
            </div>
            <div class="membro">
                <h3 class="nome">Eugênio Akinori Kisi Nishimiya</h3>
                <p class="cargo">Responsável pela documentação e parte do front-end</p>
                <div class="contato">
                    <p><i class="fas fa-envelope"></i> eugenio.nishimiya@etec.sp.gov.br</p>
                    <p><i class="fab fa-github"></i> @compermane</p>
                </div>
            </div>
            <div class="membro">
                <h3 class="nome">Felipe Marques Toneti</h3>
                <p class="cargo">Estagiário, responsável por parte da documentação</p>
                <p class="contato"><i class="fas fa-envelope"></i> felipe.toneti@etec.sp.gov.br</p>
            </div>
            <div class="membro">
                <h3 class="nome">Guilherme Henrique Violin</h3>
                <p class="cargo">Responsável pelo back-end e parte do front-end</p>
                <div class="contato">
                    <p><i class="fas fa-envelope"></i> guilherme.violin@etec.sp.gov.br</p>
                    <p><i class="fab fa-github"></i> @WillRazorFace</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}