{% extends 'base.html' %}
{% load static %}

{% block Título %}Termos e Condições{% endblock %}
{% block Conteúdo %}
    <div class="wrapper-termos">
        <div class="container-termos">
            <h2>Termos e Condições de Uso</h2>
            <h3>POLÍTICAS DE PRIVACIDADE</h3>
            <p>A nossa política de privacidade encontra-se disponível em outra página. A nossa política de privacidade explica-lhe como nós utilizamos os seus dados pessoais. Ao utilizar o nosso website você reconhece que tem conhecimento e aceitas as nossas políticas de privacidade e da forma como processamos os seus dados.</p>&nbsp;
            <h3>A SUA CONTA</h3>
            <p>Quando usa o nosso website, você fica responsável por assegurar a confidencialidade da sua conta, senha e outros dados. Não poderá passar a sua conta a terceiros. Nós não nos responsabilizamos por acessos não autorizados que resultem de negligencia por parte do utilizador (dono da conta). A empresa está no direito de terminar o serviço, ou cancelar a sua conta e remover os seus dados, caso você partilhe a sua conta.</p>&nbsp;
            <h3>SERVIÇOS</h3>
            <p>O website permite que você use os serviços disponíveis no website. Não poderá utilizar esses serviços com propósitos ilegais.</p>&nbsp;
            <h3>MATERIAIS DE EMPRESA</h3>
            <p>Ao publicar, enviar, submeter, ou efetuar upload do seu Conteúdo, você está a ceder os direitos do uso desse Conteúdo a nós para o desenvolvimento do nosso negócio, incluindo, mas não limitado a, os direitos de transmissão, exibição pública, distribuição, execução pública, cópia, reprodução e tradução do seu Conteúdo; e publicação do seu nome em conexão com o seu Conteúdo.</br>
            Nenhuma compensação será paga com relação ao uso do seu Conteúdo. A Empresa não terá obrigação de publicar ou desfrutar de qualquer Conteúdo que você possa nos enviar e poderá remover seu Conteúdo a qualquer momento sem qualquer aviso. Ao publicar, fazer upload, inserir, fornecer ou enviar o seu Conteúdo, você garante e declara que possui todos os direitos sobre seu Conteúdo.</p>&nbsp;
            <h3>INDENIZAÇÃO</h3>
            <p>Você concorda em indenizar, defender e isentar a companhia, seus gerentes, diretores, funcionários, agentes e terceiros, por quaisquer custos, perdas, despesas (incluindo honorários de advogados), responsabilidades relativas, ou decorrentes de sua fruição ou incapacidade para aproveitar o website, ou os seus serviços e produtos da empresa, a sua violação dos Termos, ou a sua violação de quaisquer direitos de terceiros, ou a sua violação da lei aplicável. Você deve cooperar com a empresa na afirmação de quaisquer defesas disponíveis.</p>&nbsp;
        </div>
    </div>
{% endblock %}