{% load humanize %}

{% if termo %}
<div class="resultados-termo">
    <h3>Resultados para "{{ termo }}"</h3>
</div>
{% else %}
{% endif %}

<div class="wrapper-posts-pesquisa">
    {% if posts %}
    {% for post in posts %}
    <div class="pub-card-pesquisa">
        <div class="pub-img-pesquisa">
            <a href="{% url 'publicacao' post.slug %}"><img src="{{ post.foto.url }}"></a>
        </div>

        <div class="pub-texto-pesquisa">
            <h1><a href="{% url 'publicacao' post.slug %}" class="pub-link-pesquisa">{{ post.titulo }}</a></h1>
            <p>{{ post.subtitulo }}</p>
        </div>

        <div class="pub-info-pesquisa">
            <span>{{ post.data|naturalday|capfirst }}</span><br/>
            <span>{{ post.categoria }}</span>
        </div>

        <div class="pub-botao-pesquisa"><a href="{% url 'publicacao' post.slug %}">Ler mais</a></div>
    </div>
    {% endfor %}
    {% else %}
        <p>{{ resultado }}</p>
    {% endif %}
</div>