{% load humanize %}

{% if termo %}
<div class="resultados-termo">
    <h3>Resultados para "{{ termo }}"</h3>
</div>
{% endif %}

<div class="wrapper-posts-pesquisa">
    {% for publicacao in publicacoes %}
    <div class="pub-card-pesquisa">
        <div class="pub-img-pesquisa">
            <a href="{% url 'publicacao' publicacao.slug %}"><img src="{{ publicacao.foto.url }}"></a>
        </div>

        <div class="pub-texto-pesquisa">
            <h1><a href="{% url 'publicacao' publicacao.slug %}" class="pub-link-pesquisa">{{ publicacao.titulo }}</a></h1>
            <p>{{ publicacao.subtitulo }}</p>
        </div>

        <div class="pub-info-pesquisa">
            <span>{{ publicacao.data|naturalday|capfirst }}</span><br/>
            <span>{{ publicacao.categoria }}</span>
        </div>

        <div class="pub-botao-pesquisa"><a href="{% url 'publicacao' publicacao.slug %}">Ler mais</a></div>
    </div>
    {% empty %}
    <p>{{ resultado }}</p>
    {% endfor %}
</div>

{% if publicacoes.has_other_pages %}
    <ul class="paginacao">
        {% if publicacoes.has_previous %}
        <li onclick="mudarPagina({{ publicacoes.previous_number_page }})"><i class="fas fa-caret-left"></i></li>
        {% else %}
        <li class="desabilitado"><i class="fas fa-caret-left"></i></li>
        {% endif %}

        {% for pagina in publicacoes.paginator.page_range %}
            {% if publicacoes.number == pagina %}
            <li class="ativo">{{ pagina }}</li>
            {% else %}
            <li onclick="mudarPagina({{ pagina }})">{{ pagina }}</li>
            {% endif %}
        {% endfor %}

        {% if publicacoes.has_next %}
        <li onclick="mudarPagina({{ publicacoes.next_page_number }})"><i class="fas fa-caret-right"></i></li>
        {% else %}
        <li class="desabilitado"><i class="fas fa-caret-right"></i></li>
        {% endif %}
    </ul>
{% endif %}