{% load crispy_forms_tags %}
{% load static %}
    <a class="voltar-ao-topo" id="voltar" href="#nav"><i class="fas fa-arrow-up"></i></a>

    <footer class="rodape">
        <div class="resumo">
                <h5>CORREIO DO PHILADELPHO</h5>
                
                <p>O Correio é desenvolvido pelos alunos da Etec Philadelpho Gouvêa Netto para divulgar
                ciência aos jovens de forma mais responsiva, bem como divulgar os eventos da escola.</p>
                <ul>
                    <li><i class = "fas fa-envelope"></i>&nbsp; correio@philadelpho.com</li>
                    <li><i class = "fab fa-twitter"></i>&nbsp; @correiophila</li>
                    <li><i class = "fab fa-youtube"></i>&nbsp; Correio do Philadelpho</li>
                </ul>
        </div>
    
        <div class="links">
            <h5>Veja também</h5>

            <ul>
                <li>
                    <a href="">Site da escola</a>
                </li>

                <li>
                    <a href="{% url 'termos' %}">Termos e Condições de uso</a>
                </li>

                <li>
                    <a href="{% url 'equipe' %}">Conheça a equipe</a>
                </li>
            </ul>
        </div>

        <div class="feedback">
            <h5>Envie-nos seu feedback</h5>
                {% if not request.user.is_authenticated %}
                <form id="form-feedback" class="feedback" method="POST" action="">
                    {% csrf_token %}
                    
                    {{ form.email|as_crispy_field }}
                    {{ form.feedback|as_crispy_field }}
                    <button type="submit" class="feedback-botao">Enviar</button>
                </form>
                {% else %}
                <form id="form-feedback" class="feedback" method="POST" action="">
                    {% csrf_token %}

                    {{ form.feedback|as_crispy_field }}
                    <button type="submit" class="feedback-botao">Enviar</button>
                </form>
                {% endif %}
        </div>
        <div class = "creditos">
            <i class="fas fa-code"></i> com <i class = "fas fa-heart"></i> por T2C project
        </div>
    </footer>

    <script>
        var FEEDBACK_URL = '{% url "feedback" %}';
        var CSRFTOKEN = '{{ csrf_token }}'
    </script>