{% load static %}
    <header class="barra-de-navegacao" id="nav">
        <div class="logo-cp">
            <a href="{% url 'index' %}">
                <img src="{% static '/img/logo-cp.svg' %}" alt="Correio Philadelpho">
            </a>
        </div>

        <div class="logo-cp-mobile">
            <a href="{% url 'index' %}">
                <img src="{% static '/img/logo-cp-mobile.svg' %}" alt="Correio Philadelpho">
            </a>
        </div>

        <div id="toggle-botao" class="toggle-botao">
            <div class="barra-1"></div>
            <div class="barra-2"></div>
            <div class="barra-3"></div>
        </div>

        <ul id="menu" class="menu">
            <li class="active"><a><i class="fa fa-search" aria-hidden="true"></a></i>
                <ul class="dropdown-pesquisa">
                    <form id="pesquisa-nav">
                        <input type="text" maxlength="100" id="input-pesquisa" required placeholder="Digite para pesquisar">
                        <button type="submit">Pesquisar</button>
                    </form>
                </ul>
            </li>
            
            {% if not request.user.is_authenticated %}
            <li><a href="#" title="Entrar"><i class="fa fa-user" aria-hidden="true"></i> Painel de Usuário</a>
                <ul class="dropdown">
                    <li><a href="{% url 'entrar' %}?proximo={{ request.path }}">Entrar</a></li>
                    <li><a href="{% url 'registrar' %}?proximo={{ request.path }}">Registrar</a></li>
                </ul>
            </li>
            {% else %}
            <li class="painel-usuario-responsivo"><a href="#" title="Entrar"><i class="fa fa-user" aria-hidden="true"></i> {{ request.user.nome }}</a>
                <ul class="dropdown">
                    <li><a href="">Notificações</a></li>
                    <li><a href="{% url 'perfil' %}">Visualizar Perfil</a></li>
                    <li><a href="{% url 'sair' %}?proximo={{ request.path }}">Sair</a></li>
                </ul>
            </li>
            <li class="container-imagem-usuario">
                {% if request.user.foto %}
                <img src="{{ request.user.foto.url }}" alt="Foto de usuário">
                {% else %}
                <img src="{% static 'img/usuario-anonimo.png' %}" alt="Foto de usuário">
                {% endif %}

                <ul class="dropdown">
                    <li><a href="">Notificações</a></li>
                    <li><a href="{% url 'perfil' %}">Visualizar Perfil</a></li>
                    <li><a href="{% url 'sair' %}?proximo={{ request.path }}">Sair</a></li>
                </ul>
            </li>
            {% endif %}

            <li><a href="#" title="Divulgação Científica"><i class="fa fa-book" aria-hidden="true"></i> Divulgação Científica</a></li>
            <li><a href="#" title="Eventos"><i class="fa fa-calendar-o" aria-hidden="true"></i> Eventos</a></li>

            <!--TODO: Área de professor -->
            {% if request.user.is_professor %}
            <li><a href="#" title="Área do Professor"><i class="fas fa-chalkboard-teacher" aria-hidden="true"></i> Área do Professor</a></li>
            {% endif %}

            <div class="modo-escuro-container">
                <input id="modo-escuro-switch" class="modo-escuro-toggle" type="checkbox"/>
                <label for="modo-escuro-switch">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                </label>
            </div>
        </ul>
    </header>
