{% load static %}
    <nav class="navbar navbar-dark navbar-expand-md cor-padrao justify-content-md-center justify-content-start">
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/img/logo_branco.png' %}" width="30px" height="30px"></a>

        <div class="navbar-collapse collapse justify-content-between align-items-center w-100 text-light" id="collapsingNavbar2">
            <!--Links-->
            <ul class="navbar-nav mx-auto text-md-center text-left">
                <li class="nav-item">
                    <a class="nav-link" href="#">Vestibular</a> 
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Divulgação Científica</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Eventos</a> 
                </li>
            </ul>

            {% if request.user.is_authenticated %}
            <!--Aba de usuário-->
            <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.foto.url }}" class="rounded" width="20px" height="20px" alt="Foto de Perfil"></img>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Visualizar Perfil</a>
                        <a class="dropdown-item" href="#">Notificações</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'sair' %}">Sair</a>
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'entrar' %}">Entrar</a> 
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrar' %}">Cadastrar-se</a>
                </li>
            </ul>
            {% endif %}

            <form class="form-inline" method="GET" action="">
                <input name="query" value="{{ request.GET.query }}" class="form-control" type="search" placeholder="Pesquisar no site" aria-label="Pesquisar">
                <button class="btn btn-dark ml-2" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>
