{% load static %}
    <header class="barra-de-navegacao" id="nav">
        <div class="logo-cp">
            <a href="{% url 'index' %}">
                <img src="{% static '/img/logo-cp.svg' %}" alt="Correio Philadelpho">
            </a>
        </div>

        <div id="toggle-botao" class="toggle-botao">
            <div class="barra-1"></div>
            <div class="barra-2"></div>
            <div class="barra-3"></div>
        </div>

        <ul id="menu" class="menu">
            <li class="active"><a><i class="fa fa-search" aria-hidden="true"></a></i>
                <ul class="dropdown-pesquisa">
                    <form id="pesquisa-nav">
                        <input type="text" maxlength="100" id="input-pesquisa" required placeholder="Digite para pesquisar">
                        <button type="submit">Pesquisar</button>
                    </form>
                </ul>
            </li>
            <li><a href="#" title="Entrar"><i class="fa fa-user" aria-hidden="true"></i> Painel de Usuário</a>
                <ul class="dropdown">
                    <li><a href="{% url 'entrar' %}?proximo={{ request.path }}">Entrar</a></li>
                    <li><a href="{% url 'registrar' %}?proximo={{ request.path }}">Registrar</a></li>
                </ul>
            </li>
            <li><a href="#" title="Divulgação Científica"><i class="fa fa-book" aria-hidden="true"></i> Divulgação Científica</a></li>
            <li><a href="#" title="Eventos"><i class="fa fa-calendar-o" aria-hidden="true"></i> Eventos</a></li>
            <div class="modo-escuro-container">
                <input id="modo-escuro-switch" class="modo-escuro-toggle" type="checkbox"/>
                <label for="modo-escuro-switch">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                </label>
            </div>
        </ul>
    </header>
