html{
    --white: white;
    --black: black;
    font-family: 'Noto Serif', serif;
}

body{
    max-height: 100vh;
}

.header-first{
    text-align: center;
    font-size: 50px;
}
/* .wrapper-first{
    /* min-height: 100%; 
} */
.wrapper-first .container-first{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-first{
    height: 100%;
}
#botoes{
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    width: 20%;
    height: 80%;
    text-align: center;
}
#introducao{
    width: 50vw;
    height: 80%;
}
#but{
    display: grid;
    place-items: center;
    height: 20vh;
}

.normal-bruh{
    width: 80%;
}

#categorias{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.categoria{
    flex: none;
    width: 100%;
    height: 370px;
    scroll-snap-align: start;
    pointer-events: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.normal, .normal-bruh{
	padding: 12px 28px;
	border-radius: 8px;
	border-color: var(--black);
	background-color: var(--white);
	color: var(--black);
	transition-duration: 300ms;
}

button.normal:hover, .normal-bruh:hover{
	background-color: var(--black);
	color: var(--white);
}

/* width */
::-webkit-scrollbar {
    height: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}

@font-face {
    font-family: NotoSerif;
    src: url("Fontes/NotoSerif/NotoSerif-Regular.tff")
}