html{
	--bg: #ffffff;
	--bgs: #f1f1f1;
	--card: #ffffff;
	--text: black;
	--shadow: dimgrey;

	--white: white;
	--black: black;
	--grey: #c0c0c0;

	color: var(--text);
	font-family: 'Noto Serif', serif;
}

body{
	background-color: var(--bg);
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

header ul li{
	display: inline;
	color: var(--text);
}

header ul li a:link, a:visited{
	text-decoration: none;
	color: var(--text);
}

header li.nope{
	/* border-right: 1px solid #c0c0c0; */
	padding-left: 15px;
	padding-right: 15px;
}

header ul{
	padding: 13px;
	margin: 0px;
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 15px;
}

/* ESTILO DO NAV + TIULO */

#divMenu{
	padding: 14px 16px;
}

.topnav li a:hover{
	background-color: var(--text);
	color: var(--white);
	transition-duration: 300ms;
}

#titulo h1, #titulo h2, #titulo h3, #titulo h4, #titulo h5{
	text-align: center;
	font-family: 'Noto Serif', serif;
}
#titulo h1 a:visited {
	color: var(--text);
}

#titulo h1 a:link{
	text-decoration: none;
}

.drop-content{
	display: none;
	position: absolute;
	background-color: var(--black);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
/* SIDE NAV */
span.drop{
	border: none;
	background-color: var(--white);
}
span.drop:hover{
	color: var(--white);
	background-color: var(--black);
}

.sidenav {
  height: 100%; 			/* 100% - ocupa toda a tela */
  width: 0; 				/* só aparece com a função openNav() do JS */
  position: fixed; 			/* fixada na tela */
  z-index: 1; 				/* sobrepõe outra tags */
  top: 0;					/* sem espaço entre o menu e o topo */
  right: 0;
  background-color: #111;
  overflow-x: hidden; 		/* sem scroll no eixo x */
  padding-top: 60px; 		/* conteúdo 60px abaixo do topo do menu */
  transition: 0.5s;			/* animação de 0.5s */
  color: white;
}

/* Links do menu */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #c0c0c0;
}

/* Estilo do <a> de fechar o menu */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* CLASSES */

.sensa{
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	padding-left: 15px;
	padding-right: 15px;
}

.title{
	text-align: left;
	padding-left: 10px;
	font-size: 2rem;
}

#wrapper-index{
	min-height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#container-main{
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 60%;
}
#container-second{
	min-height: 100vh;
	margin-top: 10px;
	height: 100%;
	width: 20%;
	background-color: var(--white)
}
#container-second h3{
	text-align: center;
}

/* ESTRUTURA DOS CARDS */
.card{
	height: 25vh;
	width: 100%;
	display: flex;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card h3, .card h4{
	margin-top: 0.3em;
	margin-bottom: 0;
	margin-left: 10px;
}
.card p{
	margin-left: 10px;
}
.card .materia-info, .materia-info{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.card .materia-info p{
	margin-top: 0;
	margin-bottom: 0;
}
.abstract{
	height: 100%;
	width: 80%;
	background-color: var(--card);
}
.image img{
	width: 180px;
	height: 165px;
	object-fit: cover;
}

/* ESTRUTURA DOS POPULARES */
.pop{
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: row;
	background-color: var(--white);
	margin-top: 30px;
	
}
.number{
	width: 20%;
	height: 20%;
	background-color: var(--white);
	margin: 0;
	padding: 0;
	text-align: center;
	color: var(--grey);
}
.materia-pop{
	background-color: var(--white);
	width: 80%;
	height: 20%;
	text-align: left;
}
.materia-pop p, .materia-pop h4{
	margin: 0;
}

/*  */

#rodapé{
	background-color: var(--bgs);
	position: absolute;
	height: 300px;
	width: 100%;
	padding-top: 10px;
	font-family: 'Noto Serif', serif;
}

#rodapé .footer .footer-content{
	height: 275px;
	display: flex;
}

#rodapé .footer .footer-content .links ul a{
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
}

#rodapé .footer .footer-content .footer-section{
	flex: 1;
	padding: 25px;
	text-align: justify;
}

#rodapé .footer .footer-content .about .contact span{
	display: block;
	font-size: 1.1em;
	margin-bottom: 8px;
}

#rodapé .footer .footer-bottom{
	height: 25px;
	text-align: right;
	bottom: 0;
	right: 15px;
	margin-top: 20px;
	background: var(--bgs);
}

#rodapé a:link{
	text-decoration: none;
	color: var(--black);
}

#rodapé a:visited{
	color: var(--black);
}

/* GERAL */

form input{
  width: 80%;
  padding: 10px;
  margin: 5px;
}

p{
	font-family: sans-serif;
}

a.linka:visited{
	color: var(--black);
}
a.linka:link{
	color: var(--black);
	text-decoration: none;
}

button.normal, .normal-bruh{
	padding: 12px 28px;
	border-radius: 8px;
	border-color: var(--black);
	background-color: var(--white);
	color: var(--black);
	transition-duration: 300ms;
}

button.normal:hover, .normal-bruh:hover{
	background-color: var(--black);
	color: var(--white);
}

@font-face {
 	font-family: NotoSerif;
	src: url("Fontes/NotoSerif/NotoSerif-Regular.ttf");
}


/* NIGHT MODE */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: left;
    border-radius: 100px;
	position: relative;
	left: 10px;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: #0077FF;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

.toggle{
	position: fixed;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}