@media (max-width: 1024px){
    html{
        font-size: 70%;
    }
}

@media (max-width: 780px){
    html{
        font-size: 50%;
    }
    /* ESTRUTURA DOS CARDS + MAIN */
    .card{
        margin-top: 10px;
        flex-direction: column;
        height: 40vh;
        width: 60%;
    }
    .image img{
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    #container-main{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #container-second{
        display: none;
    }
    .abstract{
        width: 100%;
    }
    /* ESTRUTURA DO CAROUSSEL */
    .wrapper-first .container-first{
        height: 100%;
    }
    .categoria{
        height: 270px;
    }
    /* ESTRUTURA DO FOOTER */
    .footer-section .contact{
        display: none;
    }
}
@media (max-width: 425px){
    html{
        font-size: 60%;
    }
    /* ESTRUTURA DO CAROUSSEL */
    .categoria{
        height: 200px;
    }
    /* NAV */
    nav, .titulo{
        display: none;
    }
    .menu, .logo{
        display: inline;
    }
    .menu{
        margin-right: 10px;
    }
    .logo{
        margin-top: 10px;
        margin-left: 10px;
    }
    /* CARDS */
    .wrapper-index{
        flex-direction: column;
    }
    .card .image {
        height: 80%;
    }
    .card .image img{
        height: 130px;
    }
    /* FOOTER VIADO */
    #rodapé{
        height: 100%;
    }
    #rodapé .footer{
        height: 100%;
    }
    #rodapé .footer .footer-content{
        flex-direction: column;
    }   
}