$cor-padrao-claro: #a90e10;
$cor-padrao-escuro: #5e0809;
$cor-padrao-escuro-5: #8d0c0e;

.rodape{
    grid-area: rodape;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
        "resumo" "links" "feedback"
    ;
    color: white;
    padding: 20px;
    background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);

    p{
        margin-top: 10px;
        font-size: 1.125rem;
    }

    h5{
        font-size: 1.5rem;
        font-weight: 700;
    }

    li{
        margin-top: 10px;
        font-size: 1rem;
    }

    .feedback{
        display: grid;
        grid-gap: 10px;
        max-width: 90%;
        grid-template-areas:
            "email"
            "feedback"
        ;

        input{
            grid-area: email;
            font-family: 'Roboto', sans-serif;
            margin-top: 10px;
            outline: none;
            width: 100%;
            font-size: 1.1rem;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #aaa;
            font-weight: 400;
        }
    
        textarea{
            grid-area: feedback;
            padding: 10px;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            resize: none;
            width: 100%;
            outline: none;
            font-size: 1.1rem;
            border-radius: 10px;
            border: 1px solid #aaa;
            font-weight: 400;
        }

        .feedback-botao{
            display: inline-block;
            text-align: center;
            padding: 10px;
            outline: inherit;
            border: 0;
            cursor: pointer;
            font-size: 1.1rem;
            color: white;
            background: $cor-padrao-escuro-5 !important;
            border-radius: 10px;
            transition: 0.3s ease;

            &:hover{
                font-size: 1.2rem;
                background: $cor-padrao-escuro !important;
            }
        }
    }
}

// Media Queries

@include query(laptop){

}

@include query(tablet){
        .rodape{
        grid-template-columns: auto;
        grid-template-areas:
            "resumo"
            "links"
            "feedback"
        ;
        align-items: center;
        justify-content: center;
        padding: 20px 0 20px 0;
        grid-gap: 0;

        .resumo{
            border-bottom: 1px solid $cor-padrao-escuro;
            padding: 0 0 10px 0;
            padding: 0 20px 10px 20px;
        }

        .links{
            margin-top: 10px;
            border-bottom: 1px solid $cor-padrao-escuro;
            padding: 0 0 10px 0;
        }

        .feedback{
            margin-top: 10px;
        }

        h5{
            text-align: center;
        }

        p{
            text-align: center;
            font-size: 1.25rem;
        }

        li{
            text-align: center;
            font-size: 1.25rem;
        }

        .feedback{
            padding: 0 20px 0 20px;
            max-width: 100%;
        }
    }
}

@include query(smartphone){

}

@include query(tela-grande){
    
}