.rodape{
    grid-area: rodape;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
        "resumo" "links" "feedback"
    ;
    color: white;
    @include padding(1.25rem);
    background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);

    p{
        @include margin-top(0.625rem);
        @include font-size(1.125rem);
    }

    h5{
        @include font-size(1.5rem);
        font-weight: 700;
    }

    li{
        @include margin-top(0.625rem);
        @include font-size(1rem);
    }

    .feedback{
        display: grid;
        grid-gap: 10px;
        max-width: 90%;
        grid-template-areas:
            "email"
            "feedback"
        ;

        input{
            grid-area: email;
            font-family: 'Roboto', sans-serif;
            @include margin-top(0.625rem);
            outline: none;
            width: 100%;
            @include font-size(1.1rem);
            text-align: center;
            @include rfs(0.625rem, border-radius);
            @include padding(0.625rem);
            border: 1px solid #aaa;
            font-weight: 400;
        }
    
        textarea{
            grid-area: feedback;
            @include padding(0.625rem);
            font-family: 'Roboto', sans-serif;
            text-align: center;
            resize: none;
            width: 100%;
            outline: none;
            @include font-size(1.1rem);
            @include rfs(0.625rem, border-radius);
            border: 1px solid #aaa;
            font-weight: 400;
        }

        .feedback-botao{
            display: inline-block;
            text-align: center;
            @include padding(0.625rem);
            outline: inherit;
            border: 0;
            cursor: pointer;
            @include font-size(1.1rem);
            color: white;
            background: $cor-padrao-escuro-5 !important;
            @include rfs(0.625rem, border-radius);
            transition: 0.3s ease;

            &:hover{
                @include font-size(1.2rem);
                background: $cor-padrao-escuro !important;
            }
        }
    }
}

// Media Queries

@include query(laptop){

}

@include query(tablet){
        .rodape{
        grid-template-columns: auto;
        grid-template-areas:
            "resumo"
            "links"
            "feedback"
        ;
        align-items: center;
        justify-content: center;
        @include padding-top(1.25rem);
        @include padding-bottom(1.25rem);
        grid-gap: 0;

        .resumo{
            border-bottom: 1px solid $cor-padrao-escuro;
            @include padding-bottom(0.625rem);
            @include padding-right(1.25rem);
            @include padding-bottom(0.625rem);
            @include padding-left(1.25rem);
        }

        .links{
            @include margin-top(0.625rem);
            border-bottom: 1px solid $cor-padrao-escuro;
            @include padding-bottom(0.625rem);
        }

        .feedback{
            @include margin-top(0.625rem);
        }

        h5{
            text-align: center;
        }

        p{
            text-align: center;
            @include font-size(1.25rem);
        }

        li{
            text-align: center;
            @include font-size(1.25rem);
        }

        .feedback{
            @include padding-right(1.25rem);
            @include padding-left(1.25rem);

            max-width: 100%;
        }
    }
}

@include query(smartphone){

}

@include query(tela-grande){
    
}