.barra-de-navegacao{
    grid-area: navegacao;
    width: 100%;
    @include padding(1.25rem);
    display: grid;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
    background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);
    grid-template-areas:
        "logo links"
    ;

    .modo-escuro-container{
        label::after{
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 90px;
            transition: 0.3s;
        }
        input:checked + label {
            background-color: #0077FF;
        }
        
        input:checked + label::after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
        
        label:active:after {
            width: 45px;
        }
    }
    .fa-moon{
        color: white;
    }
}

.logo-cp{
    max-width: 150px;

    a{
        color: white;
        text-decoration: none;
    }
}

.menu{
    margin-left: auto;
    display: flex;
    align-items: center;

    li{
        position: relative;

        a{
            display: block;
            padding: 10px;
            color: rgba(255, 255, 255, 0.6);
            @include font-size(1rem);
            transition: .3s ease;

            &:hover{
                color: white;
            }
        }

        &:hover ul{
            display: block;
        }
    }
}

.dropdown{
    border: 1px solid $cor-padrao-escuro;
    position: absolute;
    background: $cor-padrao-claro-6;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
    transition: 0.3s;
    z-index: 2;

    li + li{
        border-top: 1px solid $cor-padrao-escuro;
    }
}

.dropdown-pesquisa{
    border: 1px solid $cor-padrao-escuro;
    position: absolute;
    background: $cor-padrao-claro-6;
    left: 0;
    text-align: center;
    display: none;
    transition: 0.3s;
    width: 18rem;
    flex-direction: column;
    z-index: 2;
    @include padding(0.625rem);

    input{
        font-family: 'Roboto', sans-serif;
        @include font-size(0.875rem);
        @include padding(0.313rem);
        outline: none;
        border: 1px solid #aaa;
        @include rfs(0.313rem, border-radius);
        text-align: center;
    }

    button{
        font-family: 'Roboto', sans-serif;
        @include font-size(0.875rem);
        @include padding(0.313rem);
        outline: inherit;
        border: none;
        @include rfs(0.313rem, border-radius);
        color: white;
        background: #8d0c0e;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        transition: all 0.3s ease;

        &:hover{
            @include font-size(1rem);
            background: $cor-padrao-escuro !important;
        }
    }
}

.toggle-botao{
    display: none;
    cursor: pointer;

    .barra-1, .barra-2, .barra-3{
        width: 50px;
        height: 10px;
        background: rgba(255, 255, 255, 0.6);
        margin: 6px 0;
        transition: 0.3s;
    }

    &:hover > div{	
        background: white;	
    }
}

.toggle-fechar{
    .barra-1{
        transform: rotate(-45deg) translate(-14px, 8px);
    }

    .barra-2{
        opacity: 0;
    }

    .barra-3{
        transform: rotate(45deg) translate(-14px, -9px);
    }
}

// Media Queries
// TODO: Corrigir quando a barra de pesquisar for adicionada

@include query(laptop){

}

@include query(tablet){
    .barra-de-navegacao{
        grid-template-areas:
            "logo toggle"
            "links links"
        ;
        padding: 20px 0 20px 0;
    
        &.colapsavel{
            padding: 20px 0 0 0;
        }
    
        .logo-cp{
            grid-area: logo;
            max-width: 200px;
            padding: 0 0 0 20px;
        }
    
        .toggle-botao{
            grid-area: toggle;
            display: block;
            margin-left: auto;
            margin-right: 20px;
        }
    
        .menu{
            grid-area: links;
            margin-left: 0;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            text-align: center;
            display: none;
    
            &.colapsavel{
                margin-top: 20px;
                display: block;
            }
    
            li{
                border-bottom: 1px solid $cor-padrao-escuro;
                margin-left: 0;
    
                & + li{
                    margin-left: 0;
                }
    
                &:first-child{
                    border-top: 1px solid $cor-padrao-escuro;
                }
    
                &:last-child{
                    border-bottom: 0;
                }
    
                a{
                    @include font-size(1.25rem);
                }
            }
        }
    }

    .dropdown{
        position: static;
    }

    .dropdown-pesquisa{
        position: static;
        width: 100%;
        border: 2px solid $cor-padrao-escuro;

        input{
            width: 75%;
        }

        li{
            border: none;
        }
    }
}

@include query(smartphone){
    .barra-de-navegacao{
        .toggle-botao{
            .barra-1{
                margin-top: 15px;
            }

            .barra-1, .barra-2, .barra-3{
                width: 30px;
                height: 5px;
            }
        }

        .toggle-fechar{
            .barra-1{
                transform: rotate(-45deg) translate(-10px, 6px);
            }
    
            .barra-2{
                opacity: 0;
            }
    
            .barra-3{
                transform: rotate(45deg) translate(-10px, -6px);
            }
        }
    }
}

@include query(tela-grande){
    
}