.modo-escuro{
    background: rgba(0, 0, 0, .8);
    color: white;
    
    .barra-de-navegacao{
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    }

    .dropdown{
        background: black;
        border: 2px solid #222121;

        li + li{
            border-top: 2px solid #222121;
        }
    }

    .dropdown-pesquisa{
        background: black;
        border: 2px solid #222121;

        button{
            background: linear-gradient(135deg, $cor-padrao-claro, $cor-padrao-claro-6) !important;

            &:hover{
                background: $cor-padrao-claro-8 !important;
            }
        }
    }


    @include query(tablet){
        .barra-de-navegacao{
            .menu{
                li{
                    border-bottom: 2px solid #222121;

                    &:first-child{
                        border-top: 2px solid #222121;
                    }
                }
            }
        }
    }
    
    .secao-bloco{
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)) !important;
    }

    .resultados-termo{
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)) !important;
    }

    .voltar-ao-topo{
        color: #555;
        background: #ddd;

        &:hover{
            background: rgb(155, 149, 149);
        }
    }

    .rodape{
        background: rgba(0, 0, 0, .7);

        @include query(tablet){
            .resumo{
                border-bottom: 2px solid #222121;
            }

            .links{
                border-bottom: 2px solid #222121;
            }
        }

        .feedback{
            .feedback-botao{
                background: linear-gradient(135deg, $cor-padrao-claro, $cor-padrao-claro-6) !important;

                &:hover{
                    background: $cor-padrao-claro-8 !important;
                }
            }
        }
    }

    .pub-card{
        background: rgba(0, 0, 0, .5) !important;

        span{
            color: gray;
        }

        .pub-link{
            color: $cor-padrao-claro-6;

            &:link{
                color: $cor-padrao-claro-6;
            }

            &:hover{
                color: $cor-padrao-claro-8;
            }

            &:visited{
                color: $cor-padrao-claro-4;
            }
        }
    }

    .pub-card-pesquisa{
        background: rgba(0, 0, 0, .5) !important;

        span{
            color: gray;
        }
    }

    .pub-link-pesquisa{
        color: $cor-padrao-claro-6;

        &:link{
            color: $cor-padrao-claro-6;
        }

        &:hover{
            color: $cor-padrao-claro-8;
        }

        &:visited{
            color: $cor-padrao-claro-4;
        }
    }

    .popular-card{
        background: rgba(0, 0, 0, .5) !important;
    }

    .popular-link{
        color: $cor-padrao-claro-6;

        &:link{
            color: $cor-padrao-claro-6;
        }

        &:hover{
            color: $cor-padrao-claro-8;
        }

        &:visited{
            color: $cor-padrao-claro-4;
        }
    }

    // Equipe e Termos
    .membro, .container-termos{
        background: rgba(0, 0, 0, .5) !important
    }

    // Modais

    .modal-sucesso{
        .modal{
            background: darkslategray;
        }
    }

    .modal-erro{
        .modal{
            background: rgb(128, 1, 1);
        }
    }

    .modal-aviso{
        .modal{
            background: rgb(131, 95, 6);
        }
    }

    // Template de publicação

    .pub-post{
        background: #222020;
    }

    // Template de login
    
    .form-login{
        background: #222020;

        input{
            background: #222020;
            color: white;
        } 
    }

    @include query(smartphone){
        .container-autenticacao{
            background: #222020;
        }
    }

    // Template de registro

    .form-registro{
        background: #222020;

        input{
            background: #222020;
            color: white;
        }

        p{
            color: #ddd;
        }
    }

    .input-custom{
        input{
            &:focus + label,
            &:not(:placeholder-shown) + label{
                color: #aaa;
            }
        }
    }

    .form-campo-invalido{
        font-weight: 400;
        color: red;
    }

    .input-imagem-custom{
        background: rgba(0, 0, 0, 0.5);
    }

    .custom-file-input-text{
        color: #aaa;
    }

    .checkbox-custom{
        input[type=checkbox]{
            &:checked + small{
                color: #bbb;
            }
        }
    
        small{
            @include font-size(1rem);
            color: grey;
        }
    }
}

// Switch para modo escuro

.modo-escuro-container{
    @include margin-left(2rem);

    label{
        background: #292C35;
        display: flex;
        height: 1.625rem;
        width: 3.125rem;
        @include rfs(3.125rem, border-radius);
        align-items: center;
        justify-content: space-between;
        @include padding(0.3125rem);
        position: relative;
        transition: 0.3s ease;

        &:hover{
            background: #3c404b;
        }
    }

    input{
        opacity: 0;
        position: absolute;

        &:checked + label .ball{
            transform: translateX(1.5rem);
        }
    }

    .ball{
        width: 1.375rem;
        height: 1.375rem;
        background: white;
        position: absolute;
        top: 0.125rem;
        left: 0.125rem;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    .fa-moon{	
        color: #f1c40f;	
    }	

    .fa-sun{	
        color: #f39c12;	
    }
}

// Media Queries

@include query(tablet){
    .modo-escuro-container{
        @include padding(0.625rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}