*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fafbfc;
    min-height: 100vh;

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    img{
        display: block;
        width: 100%;
    }
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "navegacao"
        "conteudo"
        "rodape"
    ;
}
