*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fafbfc;
    min-height: 100vh;

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;
    }

    img{
        display: block;
        width: 100%;
    }
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "navegacao"
        "avisos-navegacao"
        "conteudo"
        "avisos-rodape"
        "rodape"
    ;
}

// Template de login e registro

.container-autenticacao{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    h4{
        text-align: center;
        font-weight: 500;
        @include margin-top(1.5rem);
        
        &:last-child{
            @include margin-top(1rem);
        }
    }
}

@include query(smartphone){
    .container-autenticacao{
        align-items: start;
        background: white;
    }
}