{% extends 'base-email.html' %}

{% block Título %}Recuperação de senha{% endblock %}

{% block Chamada %}Recuperação de senha{% endblock %}

{% block Conteúdo %}
    Olá, {{ user.nome }}. Abaixo o link requisitado para a recuperação de sua senha.
    O token estará disponível por uma hora, sendo necessário após isso requisitar outro caso ainda
    queira redefinir sua senha. Se não foi você que pediu por esse e-mail apenas ignore-o.

    <p style="text-align: center;">
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Clique aqui para prosseguir para o link</a>
    </p>
{% endblock %}