{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'parciais/_head.html' %}

    <title>{% block Título %}{% endblock %} | CP</title>
</head>

<body>
    <div class="container">
        {% include 'parciais/_navbar.html' %}
        
        {% block Adicional %}{% endblock %}
        
            {% include 'parciais/_messages.html' %}

        {% block Conteúdo %}
        {% endblock %}

        {% include 'parciais/_footer.html' %}

        

        <script type="text/javascript" src="{% static '/js/scripts.js' %}"></script>
        <script src="https://use.fontawesome.com/f222674066.js"></script>
    </div>

    <div class="modal-feedback-container" id="feedback-modal-sucesso">
        <div class="modal">
            <div class="modal-header">
                <h1>Feedback enviado</h1>
                <button id="modal-feedback-botao">x</button>
            </div>

            <div class="icone-feedback-enviado">
                <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
            </div>

            <p>Obrigado ! Leremos o que você tem a dizer assim que possível.</p>
        </div>
    </div>

</body>

</html>