{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'parciais/_head.html' %}

    <title>{% block Título %}{% endblock %} | CP</title>
</head>

<body>
    <div class="container">
        {% include 'parciais/_navbar.html' %}
        
        {% block Adicional %}{% endblock %}
        
            {% include 'parciais/_messages.html' %}

        {% block Conteúdo %}
        {% endblock %}

        {% include 'parciais/_footer.html' %}

        

        <script type="text/javascript" src="{% static '/js/scripts.js' %}"></script>
        {% block javascript-adicional %}{% endblock %}
        <script src="https://use.fontawesome.com/f222674066.js"></script>
    </div>

    <div class="modal-wrapper" id="modal-feedback">
        <div class="modal">
            <div class="modal-header">
                <h1 id="modal-titulo"></h1>
                <button id="modal-botao">x</button>
            </div>

            <div class="modal-icone">
                <i class="fa fa-4x" aria-hidden="true" id="modal-icone"></i>
            </div>

            <p id="modal-mensagem"></p>
        </div>
    </div>

</body>

</html>