<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'parciais/_head.html' %}

    <title>{% block Título %}{% endblock %} | CP</title>
</head>

<body>
    <div class="container">
        {% include 'parciais/_navbar.html' %}
        
        {% block Adicional %}{% endblock %}

        <main class="container mt-4 mb-4">
            {% include 'parciais/_messages.html' %}
            
            {% block Conteúdo %}
            {% endblock %}
        </main>

        {% include 'parciais/_footer.html' %}
    </div>
</body>

</html>