$cor-padrao-claro: #a90e10;
$cor-padrao-claro-4: #c11012;
$cor-padrao-claro-6: #ec181a;
$cor-padrao-claro-8: #ff0004;
$cor-padrao-escuro: #5e0809;
$cor-padrao-escuro-5: #8d0c0e;

html, body{
    height: 100%;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}
  
@mixin box-shadow() {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

@mixin box-shadow-card(){
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .7);
}

@mixin box-shadow-pub(){
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .7);
}

@import 'dependencias/rfs';

@import 'parciais/mediaQueries';

@import 'parciais/modo_escuro';
@import 'parciais/resetores';
@import 'parciais/header';
@import 'parciais/footer';
@import 'parciais/modais';
@import 'parciais/messages';

@import 'paginas/index';
@import 'paginas/publicacao';
@import 'paginas/busca';
@import 'paginas/registro';
@import 'paginas/login';
@import 'paginas/recuperar-senha';
@import 'paginas/equipe';
@import 'paginas/termos';
@import 'paginas/perfil';
@import 'paginas/professor';
@import 'admin/administracao';