$cor-padrao-claro: #a90e10;
$cor-padrao-claro-4: #c11012;
$cor-padrao-claro-6: #ed2123;
$cor-padrao-escuro-5: #8d0c0e;

@import 'parciais/mediaQueries';

@import 'parciais/resetores';
@import 'parciais/header';
@import 'parciais/footer';

@import 'paginas/index';
@import 'paginas/publicacao'
