{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include 'parciais/_head.html' %}

        {% block Título %}{% endblock %}
    </head>

    <body>
        <div class="container-autenticacao">
            {% block Conteúdo %}
            {% endblock %}

            <script type="text/javascript" src="{% static '/js/parciais/autenticacao.js' %}"></script>
            {% block javascript-adicional %}{% endblock %}
        </div>
    </body>
</html>