{% extends 'usuarios/base-autenticacao.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block Título %}Registrar-se{% endblock %}

{% block Conteúdo %}
    <main class="wrapper-registro">
        <div class="form-registro">
            <div class="logo-cp-auth">
                <a href="{% url 'index' %}"><img src="{% static '/img/logo-cp-reduzido-sem-bordas.svg' %}" alt=""></a>
            </div>

            <div class="voltr-auth">
                <-
            </div>

            <h1>Registrar-se</h1>

            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field|as_crispy_field }}
                {% endfor %}

                <div class="linha">
                    <div class="input-custom">
                        {{ form.nome }}
                        <label for="nome">
                            <span>Nome</span>
                        </label>
                    </div>

                    <div class="input-custom">
                        {{ form.sobrenome }}
                        <label for="sobrenome">
                            <span>Sobrenome</span>
                        </label>
                    </div>
                </div>

                <div class="input-custom">
                    {{ form.email }}
                    <label for="email">
                        <span>Endereço de e-mail</span>
                    </label>
                </div>
                
                <div class="linha">
                    <div class="input-custom">
                        {{ form.password }}
                        <label for="password">
                            <span>Senha</span>
                        </label>
                    </div>

                    <div class="input-custom">
                        {{ form.password_confirmacao }}
                        <label for="password_confirmacao">
                            <span>Confirme sua senha</span>
                        </label>
                    </div>
                </div>
                
                <div class="input-imagem-custom">
                    {{ form.foto }}
                    <button type="button" class="custom-file-input-button" id="foto-perfil-input">Selecionar Imagem</button>
                    <span class="custom-file-input-text" id="foto-perfil-texto">Nenhuma imagem selecionada</span>
                </div>
                <p>Foto que será exibida em seu perfil</p>

                <div class="checkbox-custom">
                    {{ form.newsletter }} <small>Desejo receber notícias do Philadelpho em meu e-mail</small>
                    <label for="id_newsletter"></label>
                </div>

                <button type="submit" class="auth-button">Cadastrar-se</button>
            </form>
        </div>
    </main>
{% endblock %}