{% extends 'usuarios/base-autenticacao.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block Título %}Registrar-se{% endblock %}

{% block Conteúdo %}
    <main class="wrapper-registro">
        <div class="logo-cp-auth-mobile">
            <a href="{% url 'index' %}"><img src="{% static '/img/logo-cp-reduzido.svg' %}" alt=""></a>
        </div>

        <div class="form-registro">
            <div class="logo-cp-auth">
                <a href="{% url 'index' %}"><img src="{% static '/img/logo-cp-reduzido-sem-bordas.svg' %}" alt=""></a>
            </div>

            <div class="voltar-auth">
                <a href="{{ proximo }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>

            <h1>Registrar-se</h1>

            <form method="POST" action="" enctype="multipart/form-data" id="form-registro">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field|as_crispy_field }}
                {% endfor %}

                <div class="linha">
                    <div class="input-custom">
                        {{ form.nome }}
                        <label for="nome" id="nome-label">
                            <span>Nome</span>
                        </label>

                        <div class="form-campo-invalido" id="invalido-nome"></div>
                    </div>

                    <div class="input-custom">
                        {{ form.sobrenome }}
                        <label for="sobrenome" id="sobrenome-label">
                            <span>Sobrenome</span>
                        </label>

                        <div class="form-campo-invalido" id="invalido-sobrenome"></div>
                    </div>
                </div>

                <div class="input-custom">
                    {{ form.email }}
                    <label for="email" id="email-label">
                        <span>Endereço de e-mail</span>
                    </label>

                    <div class="form-campo-invalido" id="invalido-email"></div>
                </div>
                
                <div class="linha">
                    <div class="input-custom">
                        {{ form.password }}
                        <label for="password" id="password-label">
                            <span>Senha</span>
                        </label>

                        <div class="form-campo-invalido" id="invalido-password"></div>
                    </div>

                    <div class="input-custom">
                        {{ form.password_confirmacao }}
                        <label for="password_confirmacao" id="password-confirmacao-label">
                            <span>Confirme sua senha</span>
                        </label>

                        <div class="form-campo-invalido" id="invalido-password-confirmacao"></div>
                    </div>
                </div>
                
                <div class="input-imagem-custom">
                    {{ form.foto }}
                    <button type="button" class="custom-file-input-button" id="foto-perfil-input">Selecionar Imagem</button>
                    <span class="custom-file-input-text" id="foto-perfil-texto">Nenhuma imagem selecionada</span>
                </div>
                <p>Foto que será exibida em seu perfil</p>

                <div class="checkbox-custom">
                    {{ form.newsletter }} <small>Desejo receber notícias do Philadelpho em meu e-mail</small>
                    <label for="id_newsletter"></label>
                </div>

                <button type="submit" class="auth-button" id="botao-submit">Cadastrar-se</button>
            </form>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script>
        var URL_CRIAR_USUARIO = "{% url 'criar-usuario' %}";
        var URL_VALIDAR_NOME = "{% url 'validar-nome' %}";
        var URL_VALIDAR_SOBRENOME = "{% url 'validar-sobrenome' %}";
        var URL_VALIDAR_EMAIL = "{% url 'validar-email' %}";
        var URL_VALIDAR_SENHA = "{% url 'validar-senha' %}";
        var CSRFTOKEN = "{{ csrf_token }}";

        var REDIRECIONAR = "{{ proximo }}";
    </script>
{% endblock %}