{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parciais/_head.html' %}

    <title>Entrar | CP</title>
</head>

<body class="text-center">
    <main class="mt-4 mb-4 d-flex justify-content-center">
        <div class="row">
            <div class="card auth-card">
                <div class="card-header cor-padrao">
                    <h3>Entrar</h3>
                </div>

                <div class="card-body">
                    {% include 'parciais/_messages.html' %}
                    <form method="POST" action="">
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field|as_crispy_field }}
                        {% endfor %}

                        <div class="form-group">
                            {{ form.email|as_crispy_field }}
                        </div>

                        <div class="form-group">
                            {{ form.password|as_crispy_field }}
                        </div>
                        
                        <button type="submit" class="btn btn-danger cor-padrao btn-block btn-lg mb-3">Entrar</button>
                    </form>
                </div>

                <div class="card-footer cor-padrao">
                    <p class="change-form-p">Ainda não é cadastrado? <a href="{% url 'registrar' %}">Clique aqui</a></p>
                    <p class="change-form-p">Esqueceu sua senha? <a href="">Clique aqui</a></p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>