{% extends 'usuarios/base-autenticacao.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block Título %}Entrar{% endblock %}

{% block Conteúdo %}
    <main class="wrapper-login">
        <div class="logo-cp-auth-mobile">
            <a href="{% url 'index' %}"><img src="{% static '/img/logo-cp-reduzido.svg' %}" alt="Ir para o início"></a>
        </div>

        <div class="form-login">
            <div class="logo-cp-auth">
                <a href="{% url 'index' %}"><img src="{% static '/img/logo-cp-reduzido-sem-bordas.svg' %}" alt=""></a>
            </div>

            <div class="voltar-auth">
                <a href="{{ proximo }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>

            <h1>Entrar</h1>
            
            <div id="div-erro-login" class="erro-login"></div>

            <form method="POST" action="" enctype="multipart/form-data" id="form-login">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field|as_crispy_field }}
                {% endfor %}

                <div class="input-custom" id="custom-email-login">
                    {{ form.email }}
                    <label for="email" id="label-email-login">
                        <span>Endereço de e-mail</span>
                    </label>
                </div>
                
                <div class="input-custom">
                    {{ form.password }}
                    <label for="password" id="label-password-login">
                        <span>Senha</span>
                    </label>
                </div>

                <button type="submit" class="auth-button" id="botao-submit-login">Entrar</button>

                <h4>Ainda não é cadastrado? Clique <a class="pub-link" href="{% url 'registrar' %}?proximo={{ proximo }}">aqui</a></h4>
                <h4>Esqueceu sua senha? Clique <a class="pub-link" href="{% url 'recuperar-senha' %}">aqui</a></h4>
            </form>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script src="{% static '/js/parciais/login.js' %}"></script>
    <script>
        var CSRFTOKEN = "{{ csrf_token }}";
        var URL_FAZER_LOGIN = "{% url 'fazer-login' %}";

        var REDIRECIONAR_LOGIN = "{{ proximo }}";
    </script>
{% endblock %}