{% extends 'base.html' %}
{% load static %}

{% block Título %}{{ request.user.nome_completo }}{% endblock %}

{% block Conteúdo %}
    <main class="wrapper-perfil">
        <div class="perfil-detalhes">
            <div class="detalhes-esquerda">
                <img src="{{ request.user.foto.url }}">

                <p>Cadastrou-se em</p>
                <small>{{ request.user.date_joined }}</small>

                <p>Verificado</p>
                <small id="is_verified">
                    {% if request.user.is_verified %}
                    Sim
                    {% else %}
                    Não
                    {% endif %}
                </small>

                <p>Publicações curtidas</p>
                <small>{{ request.user.posts_curtidos.count }}</small>

                <p>Comentários no site</p>
                <small>{{ request.user.comentarios.count }}</small>
            </div>

            <div class="detalhes-direita">
                <div class="menu-mini-detalhes">
                    <div id="info">Informações</div>
                    <div id="comentarios">Comentários</div>
                    <div id="pubs-curtidas">Publicações curtidas</div>
                </div>

                <div class="mut-perfil" id="perfil-direita-mutavel">
                    {% include 'usuarios/parciais/_perfil-direita.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script src="{% static '/js/parciais/perfil.js' %}"></script>

    <script>
        var URL_DISPOR_SECAO_PERFIL = "{% url 'dispor-secao-perfil' %}";
        var URL_ALTERAR_PERFIL = "{% url 'alterar-perfil' %}";
        
        var CSRFTOKEN = "{{ csrf_token }}";
    </script>
{% endblock %}