#header{
    background-color:#6d031c;    
    color: #000;
    a:link, a:visited{
        color: #d2d2c9
    }
}
body.dashboard{
    background-color: #d2d2c9;
}
#content-main .module caption, .breadcrumbs, .submit-row input{
    background-color: #6d031c;
}