.conteudo-pesquisa{
    min-height: 33.625rem;
    @include padding(1.25rem 4.375rem 0 4.375rem);
}

.caixa-de-pesquisa {
    width: 100%;
    position: relative;
    display: flex;

    .select-custom{
        width: 50%;
        
        .label-custom{
            @include font-size(1.25rem);
        }
        
        select{
            @include padding(0.313rem);
            @include font-size(1.5rem);
        }
    }

    .input-custom{
        width: 50%;

        input{
            background: transparent;
            @include padding(0.313rem);
            @include font-size(1rem);
            color: gray;

            &:focus{
                color: black;
            }
        }
    }
}

.wrapper-pesquisa{
    width: 100%;
    @include margin-bottom(3rem);
}

.conteudo-mutavel{
    width: 100%;
}

.resultados-termo{
    width: 50%;
    height: fit-content;
    @include padding(0.313rem);
    background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);
    @include box-shadow();
    @include rfs(0.625rem, border-radius);
    display: block;

    h3{
        color: white;
        text-align: center;
        font-weight: 400;
        @include font-size(1.75rem);
    }
}

.wrapper-posts-pesquisa{
    display: grid;
    @include margin(2.5rem 0 1.25rem 0);
    @include rfs(1.25rem, grid-gap);
}

.pub-card-pesquisa{
    width: 100%;
    @include padding(1.25rem);
    background: white;
    @include box-shadow-card();
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "imagem info"
        "imagem texto"
        "imagem botao"
    ;
    @include rfs(0.625rem, border-radius);
}

.pub-img-pesquisa{
    grid-area: imagem;
    text-align: center;
    width: 300px;
    max-height: 200px;
    @include rfs(0.625rem, border-radius);
    overflow: hidden;

    img{
        @include rfs(0.625rem, border-radius);
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        transition: all 0.5s;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }

        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @include rfs(0.625rem, border-radius);
        }
    }
}

.pub-texto-pesquisa{
    grid-area: texto;
    
    h1{
        @include margin-left(1.25rem);
        @include font-size(1.25rem);
    }

    p{
        text-justify: center;
        @include margin-top(0.625rem);
        @include font-size(1rem);
        @include margin-left(1.25rem);
        grid-area: subtitulo;
    }
}

.pub-link-pesquisa{
    color: $cor-padrao-claro;
    text-decoration: none;

    &:link{
        color: $cor-padrao-claro;
        text-decoration: none;
    }

    &:visited{
        color: $cor-padrao-escuro-5;
        text-decoration: none;
    }

    &:hover{
        color: $cor-padrao-claro-4;
        text-decoration: none;
    }
}

.pub-info-pesquisa{
    @include margin-left(1.25rem);
    @include margin-bottom(0.625rem);
    @include font-size(0.9rem);
    grid-area: info;
    font-style: italic;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
}

.pub-botao-pesquisa{
    grid-area: botao;
    margin-left: auto;
    display: inline-block;
    background: linear-gradient(135deg, $cor-padrao-claro, $cor-padrao-claro-6);
    @include rfs(0.313rem, border-radius);
    @include padding(0.625rem);
    cursor: pointer;
    max-height: 39px !important;
    transition: 0.3s ease;

    &:hover{
        background: $cor-padrao-claro-4;
        @include font-size(1.1rem);
    }

    a{
        color: white;
        text-decoration: none;
    }
}

// Media Queries

@include query(laptop){
    .resultados-termo{
        width: 80%;
    }
}

@include query(tablet){
    .caixa-de-pesquisa{
        .select-custom {
            width: 70%;
        }

        .input-custom{
            width: 70%;
        }
    }

    .conteudo-pesquisa{
        @include padding(1.25rem 2.5rem 0);
    }
    .resultados-termo{
        width: 100%;
    }

    .pub-card-pesquisa{
        grid-template-columns: auto;
        grid-template-areas:
            "imagem"
            "info"
            "texto"
            "botao"
        ;
    }

    .pub-img-pesquisa{
        width: 100%;
    }

    .pub-info-pesquisa{
        @include margin-top(1.25rem);
        text-align: center;
    }

    .pub-texto-pesquisa{
        h1{
            margin-left: 0;
            text-align: center;
        }

        p{
            margin-left: 0;
            text-align: center;
        }
    }

    .pub-botao-pesquisa{
        max-height: 50px !important;
        @include margin-top(1.25rem);
        text-align: center;
    }
}

@include query(smartphone){
    .caixa-de-pesquisa{
        .select-custom {
            width: 100%;
        }

        .input-custom{
            width: 100%;

            label{
                @include font-size(0.8rem);
            }
        }
    }
}

@include query(tela-grande){

}