.wrapper-perfil{
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfil-detalhes{
    display: grid;
    grid-template-columns: 25% 75%;
    @include box-shadow-card();
    width: 70%;
    @include rfs(1.25rem, border-radius);
    @include margin-top(1.5rem);
    background: #fafbfc;
}

.detalhes-esquerda, .menu-mini-detalhes{
    background: white;
}

.detalhes-esquerda{
    text-align: center;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .7);
    @include padding(0.625rem);
    @include rfs(1.25rem, border-top-left-radius);
    @include rfs(1.25rem, border-bottom-left-radius);

    img{
        @include rfs(0.625rem, border-radius);
        border: 2px solid grey;
    }

    p{
        @include font-size(1.125rem);
        font-weight: bold;
        @include margin-top(1.25rem);
    }

    small{
        @include font-size(0.875rem);
    }
}

.menu-mini-detalhes{
    display: flex;
    justify-content: center;
    @include padding(1.25rem);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.7);
    @include rfs(1.25rem, border-top-right-radius);

    div{
        display: inline-block;
        cursor: pointer;
    }

    div + div{
        @include margin-left(0.875rem);
    }

    .ativo{
        color: $cor-padrao-claro;
        font-weight: bold;
        border-bottom: 2px solid $cor-padrao-claro;
    }
}

.mut-perfil{
    @include padding(0.625rem);
    @include margin(0.625rem 0 0 0.625rem);
}

// Seção de informações

.informacoes-perfil{
    p{
        @include font-size(1.25rem);
        font-weight: bold;
    }

    input{
        @include font-size(1rem);
        width: 100%;
        @include padding(0.313rem);
        @include rfs(0.313rem, border-radius);
        outline: none;
        border: 1px solid #ccc;
        @include margin-bottom(0.5rem);
        
        &:disabled{
            cursor: not-allowed;
        }
    }
    
    .checkbox-perfil-custom{
        width: auto;
        @include margin(0.313rem 0.313rem 0 0);

        &:checked{
            color: green;
        }
    }
}

#redefinicao{
    @include margin-top(1.5rem);

    strong{
        display: block;
    }
}

.botao-alterar-perfil{
    display: flex;
    justify-content: flex-end;

    button{
        background: transparent;
        @include font-size(1rem);
        outline: none;
        border: 1px solid grey;
        cursor: pointer;
        @include padding(0.313rem);
        @include rfs(0.313rem, border-radius);
        background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);
        width: 100%;
        @include margin-top(1rem);
        color: white;
        transition: all 0.3s ease;

        &:hover{
            background: $cor-padrao-escuro;
        }
    }
}

.erro-input-alterar-perfil{
    border: 2px solid red !important;
}

.erro-div-alterar-perfil{
    color: red;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.nao-dispor{
    display: none;
}

.label-alterar-perfil-desabilitado{
    color: grey;
}

// Seção de comentários

.comentarios-perfil, .publicacoes-perfil{
    max-height: 350px;
    overflow: auto;

    li + li {
        @include margin-top(0.625rem);
    }
}

.comentarios-perfil{
    li + li{
        @include margin-top(0.625rem);
        border-top: 2px solid grey;
    }
}

.comentario-perfil{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "publicacao" "data"
        "conteudo" "aprovado"
    ;

    .publicacao{
        max-width: 43ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a{
            font-weight: bold;
            color: $cor-padrao-claro;

            &:hover{
                color: $cor-padrao-escuro;
            }
        }
    }

    .data{
        display: flex;
        justify-content: center;
        color: grey;
    }

    .status{
        display: flex;
        justify-content: center;
    }

    .analise{
        color: #d6a512;
    }

    .aprovado{
        color: #0da14b;
    }
}

.publicacoes-perfil{
    @include padding(0.625rem);
}

.pub-curtida{
    @include padding(0.313rem);
    @include box-shadow-card();
    @include rfs(0.625rem, border-radius);
    @include padding(0.625rem);

    a{
        @include font-size(1.25rem);
        color: $cor-padrao-claro;
        font-weight: bold;

        &:hover{
            color: $cor-padrao-escuro;
        }
    }

    span{
        grid-area: info;
        font-style: italic;
        line-height: 1.6;
        color: rgba(0, 0, 0, .7);
    }
}