.wrapper-perfil{
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfil-detalhes{
    display: grid;
    grid-template-columns: 25% 75%;
    @include box-shadow-card();
    width: 70vw;
    @include rfs(1.25rem, border-radius);
    @include margin-top(1.5rem);
    background: #fafbfc;
}

.trocar-foto{
    @include margin-top(0.313rem);

    button{
        @include padding(0.313rem);
        width: 100%;
        background: $cor-padrao-claro-6;
        color: white;
        outline: none;
        border: none;
        border: 1px solid gray;
        @include rfs(0.313rem, border-radius);
        cursor: pointer;
        transition: all 0.1s ease;

        &:focus{
            outline: none;
        }

        &:hover{
            background: $cor-padrao-claro;
        }
    }
}

.detalhes-esquerda, .menu-mini-detalhes{
    background: white;
}

.detalhes-esquerda{
    text-align: center;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .7);
    @include padding(0.625rem);
    @include rfs(1.25rem, border-top-left-radius);
    @include rfs(1.25rem, border-bottom-left-radius);

    img{
        @include rfs(0.625rem, border-radius);
        border: 2px solid grey;
    }

    p{
        @include font-size(1.125rem);
        font-weight: bold;
        @include margin-top(1.25rem);
    }

    small{
        @include font-size(0.875rem);
    }
}

.menu-mini-detalhes{
    display: flex;
    justify-content: center;
    @include padding(1.25rem);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.7);
    @include rfs(1.25rem, border-top-right-radius);

    div{
        display: inline-block;
        cursor: pointer;
    }

    div + div{
        @include margin-left(0.875rem);
    }

    .ativo{
        color: $cor-padrao-claro;
        font-weight: bold;
        border-bottom: 2px solid $cor-padrao-claro;
    }
}

.mut-perfil{
    @include padding(0.625rem);
    @include margin(0.625rem 0 0 0.625rem);
}

// Seção de informações

.informacoes-perfil{
    p{
        @include font-size(1.25rem);
        font-weight: bold;
    }

    input{
        @include font-size(1rem);
        width: 100%;
        @include padding(0.313rem);
        @include rfs(0.313rem, border-radius);
        outline: none;
        border: 1px solid #ccc;
        @include margin-bottom(0.5rem);
        
        &:disabled{
            cursor: not-allowed;
        }
    }
    
    .checkbox-perfil-custom{
        width: auto;
        @include margin(0.313rem 0.313rem 0 0);

        &:checked{
            color: green;
        }
    }
}

#redefinicao{
    @include margin-top(1.5rem);

    strong{
        display: block;
    }
}

.botao-alterar-perfil{
    display: flex;
    justify-content: flex-end;

    button{
        background: transparent;
        @include font-size(1rem);
        outline: none;
        border: 1px solid grey;
        cursor: pointer;
        @include padding(0.313rem);
        @include rfs(0.313rem, border-radius);
        background: linear-gradient(135deg, $cor-padrao-claro, #ed2123);
        width: 100%;
        @include margin-top(1rem);
        color: white;
        transition: all 0.3s ease;

        &:hover{
            background: $cor-padrao-escuro;
        }
    }
}

.erro-input-alterar-perfil{
    border: 2px solid red !important;
}

.erro-div-alterar-perfil{
    color: red;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.nao-dispor{
    display: none;
}

.label-alterar-perfil-desabilitado{
    color: grey;
}

// Seção de comentários

.comentarios-perfil, .publicacoes-perfil{
    max-height: 350px;
    overflow: auto;

    li{
        @include rfs(0.625rem, border-radius);
        @include padding(0.313rem);
    }

    li + li {
        @include margin-top(0.625rem);
    }
}

.comentarios-perfil{
    li{
        background: white;
        @include box-shadow-card();
    }

    @include padding(0.625rem);
}

.comentario-perfil{
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "publicacao data"
        "conteudo conteudo"
    ;

    .publicacao{
        grid-area: publicacao;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a{
            font-weight: bold;
            color: $cor-padrao-claro;

            &:hover{
                color: $cor-padrao-escuro;
            }
        }
    }

    .data{
        grid-area: data;
        display: flex;
        justify-content: center;
        color: grey;
    }

    .conteudo{
        grid-area: conteudo;
        word-break: break-all;
    }

    .status, .analise{
        color: white;
    }

    .status{
        position: absolute;
        top: -0.625rem;
        right: -0.313rem;
        display: flex;
        justify-content: center;
        font-size: 1.675rem;
    }

    .analise{
        background: #d6a512;
        width: 25px;
        text-align: center;
        border-radius: 50%;
        opacity: 100%;
    }

    .aprovado{
        background: #0da14b;
        border-radius: 50%;
    }
}

.publicacoes-perfil{
    @include padding(0.625rem);
}

.pub-curtida{
    @include padding(0.313rem);
    @include box-shadow-card();
    @include rfs(0.625rem, border-radius);
    @include padding(0.625rem);

    a{
        @include font-size(1.25rem);
        color: $cor-padrao-claro;
        font-weight: bold;

        &:hover{
            color: $cor-padrao-escuro;
        }
    }

    span{
        grid-area: info;
        font-style: italic;
        line-height: 1.6;
        color: rgba(0, 0, 0, .7);
    }
}

// Media Queries

@include query(laptop){
    .perfil-detalhes{
        width: 85%;
    }
}

@include query(tablet){
    .perfil-detalhes{
        width: 100%;
        border-radius: 0;
    }

    .detalhes-esquerda{
        border-radius: 0;
    }

    .menu-mini-detalhes{
        border-radius: 0;
    }
}

@include query(smartphone){
    .perfil-detalhes{
        grid-template-columns: auto;
    }

    .menu-mini-detalhes{
        width: 100vw;
        @include font-size(0.875rem);
        text-align: center;
        @include padding(0.313rem);

        div + div{
            margin-left: 0.5rem;
        }
    }

    .perfil-direita-mutavel{
        width: 100vw;
    }

    .comentario-perfil{
        grid-template-columns: auto;
        grid-template-areas:
            "publicacao"
            "data"
            "conteudo"
        ;

        .publicacao{
            @include font-size(1.25rem);
            text-overflow: inherit;
            white-space: inherit;
        }

        .data, .conteudo{
            @include font-size(1.125rem);
        }

        .data{
            justify-content: right;
        }

        .status{
            top: -0.875rem;
            right: -0.625rem;
        }
    }
}

@include query(tela-grande){

}