{% extends 'base.html' %}

{% load static %}

{% block Título %}Escrever{% endblock %}

{% block Conteúdo %}
    <main class="conteudo-escrever-professor">
        <div class="logo-cp-auth-mobile">
            <a href="/"><img src="/static/img/logo-cp-reduzido.svg" alt=""></a>
        </div>
        
        <div class="form-post">
            <div class="logo-cp-auth">
                <a href="/"><img src="/static/img/logo-cp-reduzido-sem-bordas.svg" alt=""></a>
            </div>

            <div class="voltar-auth">
                <a href="{{ proximo }}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </div>

            <h1>Editar Publicação</h1>

            <form method="POST" action enctype="multipart/form-data" id="form-post">
                {% csrf_token %}

                <div class="input-custom" style="margin-bottom: 1.875rem;">
                    {{ form_post.titulo }}
                    <label for="titulo" id="titulo-label">
                        <span>Título</span>
                    </label>

                    <div class="form-campo-invalido" id="invalido-titulo"></div>
                </div>

                <div class="input-custom">
                    {{ form_post.subtitulo }}
                    <label for="subtitulo" id="subtitulo-label">
                        <span>Subtítulo</span>
                    </label>

                    <div class="form-campo-invalido" id="invalido-subtitulo"></div>
                </div>

                <label class="label-custom" id="conteudo-label">
                    Conteúdo
                </label>
                {{ form_post.media }}
                <div class="ckeditor-rich-text-field">
                    {{ form_post.conteudo }}
                </div>

                <div class="form-campo-invalido" id="invalido-conteudo"></div>

                <label class="label-custom" id="categoria-label">
                    Categoria
                </label>
                <div class="select-custom">
                    {{ form_post.categoria }}
                </div>
                <div class="form-campo-invalido" id="invalido-categoria"></div>
                <p>Categoria da publicação. Utilizada para melhorar a pesquisa dos usuários.</p>

                <div class="input-imagem-custom">
                    {{ form_post.foto }}
                    <button type="button" class="custom-file-input-button" id="foto-perfil-input">Selecionar Imagem</button>
                    <span class="custom-file-input-text" id="foto-perfil-texto">Nenhuma imagem selecionada</span>
                </div>
                <p>Se nenhuma outra imagem for selecionada, a atual permanecerá</p>

                <button type="submit" class="auth-button" id="botao-submit">Salvar</button>
            </form>
        </div>
    </main>
{% endblock %}

{% block javascript-adicional %}
    <script type="text/javascript">
        var CSRFTOKEN = "{{ csrf_token }}";
        var URL_SALVAR_PUBLICACAO = "{{ url_salvar }}";
        var USUARIO_ATUAL = {{ request.user.id }};
        var IMAGEM_ATUAL_PUBLICACAO = "{{ foto }}";
    </script>

    <script type="text/javascript" src="{% static '/js/parciais/alterar-publicacao.js' %}"></script>
{% endblock %}}